.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper .img1 {
    background-image: url("../../resources/images/aboutUs/partners/kcc_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-wrapper .img2 {
    background-image: url("../../resources/images/aboutUs/partners/adapt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-wrapper .img3 {
    background-image: url("../../resources/images/aboutUs/partners/innoderm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.swiper-pagination-bullet {
    width:25px !important;
    height:25px !important;
}

.swiper-pagination-bullet-active {
    background-color: #A67951 !important;
    width:25px !important;
    height:25px !important;
}