.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper .consultingImg1 {
    background-image: url("../../resources/images/consulting/Consulting_1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .consultingImg2 {
    background-image: url("../../resources/images/consulting/Consulting_2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination-bullet {
    width:25px !important;
    height:25px !important;
}

.swiper-pagination-bullet-active {
    background-color: #A67951 !important;
    width:25px !important;
    height:25px !important;
}